.new-task-button {
  transition: all .4s ease;
  color: #fff;
  border: 2px solid #fff;
  text-transform: uppercase;
  text-align: center;
  line-height: 1;
  font-size: 17px;
  font-weight: bold;
  background-color : transparent;
  padding: 16px;
  outline:none;
  border-radius: 12px;
  float: right;
  cursor: pointer;
}
.new-task-button:hover {
  color: #40005d;
  border: 2px solid #ffffff;
  background-color: #ffffff;
}


